*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"JOST";
    color: #e1eae1;

}

body{
    background: #E8CBC0;  
    background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);  
    background: linear-gradient(to right, #636FA4, #E8CBC0);
    letter-spacing: 2.5px;
}

.header{
    padding-left: 330px;
    text-align: center;
    display: flex; 
    background-color: #9397a6;
    text-shadow: 2px 2px 5px #000;
}


.header div { 
    font-size: 20px;
    padding: 10px 50px 10px 50px; /* top, right, bottom, left */
}

section {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ),
      url("../IMAGES/contactus.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}


a:hover{
    color: #7a81a0;
}

a{
    text-decoration: none;
}

.Heading{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 5px #000;
}

.para{
    font-size: 15px;
}

.formhead{
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 5px #000;
}

.formhead:hover{
    color: #636FA4;
}

.form{
   color: #151616;
   margin-left: 400px ;
   margin-right: 400px ;
   border: 3px solid  #020a1b;
   padding-left: 13%;
   font-weight: 900;
   font-size: 20px;
   border-radius: 60px;
   padding-top: 20px;
   padding-bottom: 20px;
   background-color: rgb(153, 180, 202);
   box-shadow: 10px 10px 10px rgba(2, 2, 19, 0.3);
}

input[type="text"],input[type="password"],input[type="time"], input[type="date"], textarea,select  {
    color: black; 
    background-color: white; 
    font-family: "JOST"; 
    padding: 5px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
  
}

input[type="password"]::placeholder,input[type="text"]::placeholder,input[type="date"]::placeholder,textarea::placeholder{
    color: rgb(8, 7, 33);
    text-transform: capitalize; 
}

select option {
    color: rgb(26, 26, 62); 
    background-color: white; 
}


.addspace{
    margin-left: 40px;
}

.form-container div {
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.botton{
    background-color: rgba(199, 202, 191, 0.6);
    height: 50PX;
    width: 90px;
    border-radius: 23px; 
    color: rgba(19, 19, 17); 
    font-weight: 900; 
    letter-spacing: 1px;
    padding: 10px 10px 10px 10px ;/* top, right, bottom, left */
}

.botton:hover{
    background-color: #636FA4;
}
 
.iframe-style {
    margin-left: 150px;
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
    height: 500px;
    box-shadow: 10px 10px 10px rgba(2, 2, 19, 0.3);
}

